@font-face {
  font-family: "BRFirma-regular";
  src: url("../assests/fonts/BR\ Firma\ Regular.woff") format("woff");
}
@font-face {
  font-family: "BRFirma-light";
  src: url("../assests/fonts/BR\ Firma\ Light.woff") format("woff");
}
@font-face {
  font-family: "BRFirma-thin";
  src: url("../assests/fonts/BR\ Firma\ Thin.woff") format("woff");
}
@font-face {
  font-family: "BRFirma-bold";
  src: url("../assests/fonts/BR\ Firma\ Bold.woff") format("woff");
}
