@import "styles/variables";
.custom-input {
  margin-bottom: 1rem;
  label {
    display: block;
    font-size: 0.9rem;
    margin: 0.7rem 0rem 0.3rem;
  }
  input {
    width: 100%;
    padding: 15px;
    height: auto;
    outline: none;
    border: 1px solid $omni-purple;
    background-color: #fff;
    &::placeholder {
      color: $omni-grey;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-error {
    text-align: left;
    font-size: 0.75rem;
    color: $omni-red;
    margin-bottom: 0.2rem;
  }

  .error {
    border: 1px solid $omni-red;
  }
}
