@import "styles/variables";
.custom-btn {
  .omni-btn {
    position: relative;
    width: 100%;
    padding: 20px 20px 15px;
    background-color: $omni-pink;
    border: none;
    border-radius: 6px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      background-color: rgba(245, 62, 106, 0.4);
    }
  }

  .spinner {
    content: "";
    position: absolute;
    border-radius: 100%;
    top: 55%;
    width: 0px;
    height: 0px;
    margin-top: -10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left-color: #fff;
    border-top-color: #fff;
    animation: spin 0.6s infinite linear, grow 0.3s forwards ease-out;
  }
}
@keyframes spin {
  to {
    transform: rotate(359deg);
  }
}
@keyframes grow {
  to {
    width: 14px;
    height: 14px;
    margin-top: -8px;
    right: 13px;
  }
}
